body {
  font-family: "Lucida Console", "Courier New", monospace;
    background: #FFFFF0;
    color: red;
    text-align: center;
  }
  .ingredients {
    border: 2px solid rgb(97, 63, 63);
    outline: #ff0000 solid 5px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  }
  .frosting {
    border: 2px solid brown;
    outline: #ff0000 solid 2px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  }
  h3 {
    border: 2px solid rgb(97, 63, 63);
    outline: #ff0000 solid 1px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  }
 
  img {
    border: 3px solid #922724;
    width: 32%;
}

@media (max-width: 1080px) {
    img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    body {
      background-color: rgba(224, 152, 152, 0.493);
    }
}

@media (min-width: 1081px) {
    body {
        background-color: rgba(255, 255, 255, 0.993);
    }
}